* {
  box-sizing: border-box;
}

body {
  min-width: 100%;
  min-height: 695px;
}

.navbar {
  width: 100%;
  background: yellow;
}

.navbar li {
  list-style-type: none;
  display: flex;
  width: 25%;
  height: 6vh;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
}

li {
  cursor: pointer;
}